SetEnv TZ Morocco/Casablanca

SetEnv SERVER_ADMIN sample@example.com

# Error Pages
ErrorDocument 401 /errors/401.html
ErrorDocument 404 /errors/404.html
ErrorDocument 500 /errors/500.html



#Rewrite WWW
Options +FollowSymlinks
RewriteEngine on
RewriteCond % ^http://www.abm-info.github.io/Hostit/ [NC]
RewriteRule ^(.*)$ http://abm-info.github.io/Hostit/ [R=301,NC]
